<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YXCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9114C84C207B105600A2A26F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9114C864207B106000A2A26F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9114C86F207B106000A2A26F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
